*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    color: #;
    background-color:#FD6E0A;
    padding: 18px 36px;
    border:none;
    border-radius:5px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    
}


/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position:top left, bottom right ;
}

nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    margin: 0 auto;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 51px;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    /* border: 1px solid red; */
    display: flex;
    margin: 49px  38px 0 230px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-container{
    max-width: 585px;
}
#banner .banner-container h2{
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
#banner .banner-container h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-container p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

