*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    color: #;
    background-color:#FD6E0A;
    padding: 18px 36px;
    border:none;
    border-radius:5px;
    font-size:20px;
    font-weight:bold;
    
}


/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    margin: 0 auto;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 51px;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
